[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
langchain-openai = "*"
langchain-chroma = "*"
langchain-huggingface = "*"
langfuse = "*"
langchain = "*"
langchain-core = "*"
faker = "*"
streamlit = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
