streamlit
python-dotenv
langchain>=0.1.0
langchain-core
langchain-chroma>=0.1.0
langchain-together
chromadb==0.4.22
pysqlite3-binary
langfuse
fastembed
openai
anyio==3.7.1
exceptiongroup==1.2.0
protobuf<=3.20.3
numpy==1.26.4